<?xml version="1.0" encoding="UTF-8"?>
<!--spawns the GURDY URDF file into the given point in space, -->
<!--if a gazebo simulation is running.-->
<launch>
   <include file="$(find my_gurdy_description)/launch/spawn_urdf.launch">-->
       <arg name="x" value="0.0"/>
       <arg name="y" value="0.0"/>
       <arg name="z" value="0.2"/>
       <arg name="urdf_robot_file" value="$(find my_gurdy_description)/urdf/gurdy.urdf"/>
       <arg name="robot_name" value="gurdy"/>
   </include>
</launch>

<!--
rosservice call /gazebo/delete_model "model_name: 'gurdy'"
roslaunch my_gurdy_description spawn_gurdy.launch 

-->