<launch>
    
    <!--Below not needed because we made rviz_gurdy_urdf.launch, which includes gurdy.urdf as an arg when calling this launch file-->
    
     <!--USE: roslaunch my_gurdy_description urdf_visualize.launch model:='$(find my_gurdy_description)/urdf/gurdy.urdf' -->
    <!--<arg name="model" default=""/>-->
    
    <!--Loads  URDF file to the param server variable "robot_description" -->
    <!--<param name="robot_description" command="cat $(arg model)"/>-->
<!--####################################################-->

     <!--Second robot would need $ROBOT_2_DESCRIPTION and $MODEL_2 etc.-->

    <!--Start jointstate publisher & robotstate publisher. These publish the TFs of the URDF of the robot links and joints.-->
    <!--Send fake joint values-->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>
    <!--Combine joint values-->
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="state_publisher" />


    <!--To launch rviz with a rviz config file-->
    <!--<node pkg="rviz" name="rviz" type="rviz" args="-d $(find pkg)/rviz_config/rviz_config_file.rviz"/>-->
    <!--<node pkg="rviz" name="rviz" type="rviz" args="-d $(find my_gurdy_description)/rviz_config/urdf.rviz" />-->
    <!--<node pkg="rviz" name="rviz" type="rviz" args="" />-->
</launch>